.picker {
    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;

    // background: cornflowerblue;
    padding-bottom: 50px;

    input {
        font-size: 80px;
        width: 800px;
        font-family: $font-roboto;
        border: none;
        background-color: transparent;
        text-align: center;
        border-bottom: 3px solid $color-yellow-one;
        color: $color-gray-one;

        &:focus {
            outline: none;
        }
    }
}